VA_ALM_App/SolutionPackage/src/Workflows/GetDataURI-31B1A791-F1CD-ED11-B597-000D3A8D918F.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_98203"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "vaidms_site (vaidms_vaidms_site)": {
          "defaultValue": "https://idpvaidms.sharepoint.com/sites/Prosthetics",
          "type": "String",
          "metadata": {
            "schemaName": "vaidms_vaidms_site",
            "description": "VAIDMS SharePoint Site"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a48af154-c935-4ea8-a2ee-9553a589f3fd"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "DocIdentifier",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_file_content": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bc12a2ea-8bc3-4cbb-bd13-8fe2b8b6d446"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('vaidms_site (vaidms_vaidms_site)')",
              "id": "@triggerBody()['text']",
              "inferContentType": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5d5e9798-ae50-4b56-a447-2897d95c2fd8"
          },
          "type": "Compose",
          "inputs": "@dataUri(base64ToBinary(body('Get_file_content')?['$content']))"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ad17e05-2ea3-47f4-96fc-d8f184dd2fc7"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{outputs('Compose')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}